* {
	font-family: Verdana, 'Open Sans', sans-serif;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.haaHashtag {
	text-align: center;
	font-family: Palatino, 'Open Sans', sans-serif;
	font-size: x-large;
	font-weight: bold;
	background: teal;
	margin-top: 5%;
	padding: 1%;
}

.menuItems {
	background: green;
	font-size: large;
	text-align: center;
	padding: 2%;
}

.menuItemContainer {
	display: none;
}

.sideNavBar {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}